<div class="container">
  <h1 class="display-4">Simple Kanban</h1>

  <div class="container-fluid" style="margin-top:2em">
    <div class="row">
      <div class="col-4">
        <h2>To Do</h2>
        <div class="container" dragula="KANBAN" [(dragulaModel)]="toDo">
          <div *ngFor="let task of toDo">{{ task.name }}</div>
        </div>
      </div>

      <div class="col-4">
        <h2>In progress</h2>
        <div class="container" dragula="KANBAN" [(dragulaModel)]="inProgress">
          <div *ngFor="let task of inProgress">{{ task.name }}</div>
        </div>
      </div>

      <div class="col-4">
          <h2>Done</h2>
          <div class="container" dragula="KANBAN" [(dragulaModel)]="done">
            <div *ngFor="let task of done">{{ task.name }}</div>
          </div>
        </div>
    </div>
  </div>
</div>